In [490]:
import pandas as pd
import numpy as np

In [491]:
train_df = pd.read_csv('C:/Users/82108/Dacon/Cancer/open/train.csv')
test_df = pd.read_csv('C:/Users/82108/Dacon/Cancer/open/test.csv')

In [492]:
unnecessary_cols = ['ID','img_path','mask_path','수술연월일']

> 3 중 유방암

In [493]:
triple_df = train_df.loc[((train_df['ER']==0)|(train_df['ER']).isnull())
                         &((train_df['PR']==0)|(train_df['PR']).isnull())
                         &((train_df['HER2']==0)|(train_df['HER2']).isnull())]

> HER2 not inclue ER,PR

In [494]:
HER2_df = train_df.loc[((train_df['ER']==0)|(train_df['ER']).isnull())
                         &((train_df['PR']==0)|(train_df['PR']).isnull())
                         &(train_df['HER2']==1)]

In [495]:
ER_PR_df = train_df.loc[((train_df['ER']==1)|(train_df['PR']==1))]

> ER,PR not include HER2

In [496]:
ER_PR_nHER2_df = train_df.loc[((train_df['ER']==1)|(train_df['PR']==1))
                        &((train_df['HER2']==0)|(train_df['HER2']).isnull())]

> ER,PR include HER2

In [497]:
ER_PR_yHER2_df = train_df.loc[((train_df['ER']==1)|(train_df['PR']==1))
                        &(train_df['HER2']==1)]

In [498]:
len(HER2_df) + len(ER_PR_nHER2_df) + len(triple_df)+len(ER_PR_yHER2_df)

1000

In [499]:
print("HER2 임파선 전이율",round(HER2_df['N_category'].mean(), 3))
print("삼중 임파선 전이율",round(triple_df['N_category'].mean(), 3))
print("not HER + ER+PR 임파선 전이율",round(ER_PR_nHER2_df['N_category'].mean(), 3))
print("ER+PR+HER 임파선 전이율",round(ER_PR_yHER2_df['N_category'].mean(), 3))

HER2 임파선 전이율 0.525
삼중 임파선 전이율 0.505
not HER + ER+PR 임파선 전이율 0.546
ER+PR+HER 임파선 전이율 0.404

In [500]:
triple_pro = triple_df.drop(['ID','img_path','mask_path','수술연월일','ER_Allred_score'
                            ,'PR_Allred_score','ER','PR','HER2','HER2_IHC','HER2_SISH'
                            ,'HER2_SISH_ratio'],axis=1)

In [501]:
HER2_pro = HER2_df.drop(['ID','img_path','mask_path','수술연월일','HER2'
                         ,'HER2_IHC','HER2_SISH','HER2_SISH_ratio'],axis=1)

In [502]:
ER_PR_nHER2_pro = ER_PR_nHER2_df.drop(['ID','img_path','mask_path','수술연월일'
                            ,'HER2','HER2_IHC','HER2_SISH','HER2_SISH_ratio'],axis=1)

In [503]:
ER_PR_yHER2_pro = ER_PR_yHER2_df.drop(['ID','img_path','mask_path','수술연월일'],axis=1)

>>- 3 중 유방암 심각도 분석 전 결측치 처리 (적은 순으로)

In [504]:
triple_pro.isnull().sum()

나이                    0
진단명                   0
암의 위치                 0
암의 개수                 0
암의 장경                 5
NG                   12
HG                    8
HG_score_1           10
HG_score_2           10
HG_score_3           10
DCIS_or_LCIS_여부       0
DCIS_or_LCIS_type    95
T_category            1
KI-67_LI_percent     36
BRCA_mutation        98
N_category            0
dtype: int64

- 결측치가 1개인 T_category

In [505]:
triple_pro.loc[(triple_pro['KI-67_LI_percent']>32)&(triple_pro['KI-67_LI_percent']<52)&(triple_pro['N_category']==1)]

,나이,진단명,암의 위치,암의 개수,암의 장경,NG,HG,HG_score_1,HG_score_2,HG_score_3,DCIS_or_LCIS_여부,DCIS_or_LCIS_type,T_category,KI-67_LI_percent,BRCA_mutation,N_category
43,88,1,1,1,68.0,3.0,3.0,3.0,3.0,3.0,0,NaN,2.0,44.76,NaN,1
115,54,1,2,1,0.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,42.81,NaN,1
184,52,1,2,1,28.0,3.0,3.0,3.0,3.0,2.0,2,NaN,2.0,51.78,NaN,1
188,65,1,2,1,25.0,2.0,2.0,3.0,2.0,1.0,2,NaN,2.0,45.55,NaN,1
238,44,1,1,2,13.0,3.0,2.0,3.0,3.0,1.0,0,NaN,1.0,40.03,NaN,1
296,78,1,1,1,20.0,3.0,3.0,3.0,3.0,3.0,2,NaN,1.0,45.64,NaN,1
339,52,4,1,1,30.0,3.0,3.0,3.0,3.0,3.0,2,NaN,2.0,45.00,0.0,1
360,65,1,2,2,11.0,3.0,2.0,3.0,3.0,1.0,2,NaN,1.0,44.67,NaN,1
393,88,1,1,1,47.0,3.0,3.0,3.0,3.0,3.0,2,NaN,2.0,40.00,NaN,1
447,66,1,1,1,16.0,3.0,3.0,3.0,3.0,2.0,2,NaN,1.0,35.00,NaN,1
481,70,4,3,1,26.0,3.0,2.0,3.0,3.0,1.0,0,NaN,2.0,35.00,NaN,1

In [506]:
train_df.loc[(train_df['T_category']==4)]

,ID,img_path,mask_path,나이,수술연월일,진단명,암의 위치,암의 개수,암의 장경,NG,...,ER_Allred_score,PR,PR_Allred_score,KI-67_LI_percent,HER2,HER2_IHC,HER2_SISH,HER2_SISH_ratio,BRCA_mutation,N_category
104,BC_01_0516,./train_imgs/BC_01_0516.png,./train_masks/BC_01_0516.png,89,2019-02-13,1,1,1,71.0,3.0,...,8.0,0.0,NaN,50.82,1.0,3.0,NaN,NaN,NaN,1
327,BC_01_1595,./train_imgs/BC_01_1595.png,-,82,2016-08-10,1,2,1,65.0,3.0,...,NaN,0.0,NaN,66.00,1.0,2.0,1.0,4.14,NaN,1
361,BC_01_1797,./train_imgs/BC_01_1797.png,-,56,2016-06-27,1,1,1,75.0,3.0,...,NaN,0.0,NaN,97.00,0.0,2.0,0.0,94.00,NaN,1
515,BC_01_2376,./train_imgs/BC_01_2376.png,-,51,2014-08-26,4,2,2,32.0,3.0,...,6.0,0.0,NaN,20.00,1.0,3.0,NaN,NaN,NaN,1

In [507]:
train_df.loc[(train_df['T_category']==0),'N_category'].mean()

0.056338028169014086

In [508]:
triple_pro.loc[(triple_pro['KI-67_LI_percent']>37)&(triple_pro['KI-67_LI_percent']<48)&(triple_pro['N_category']==1)]

,나이,진단명,암의 위치,암의 개수,암의 장경,NG,HG,HG_score_1,HG_score_2,HG_score_3,DCIS_or_LCIS_여부,DCIS_or_LCIS_type,T_category,KI-67_LI_percent,BRCA_mutation,N_category
43,88,1,1,1,68.0,3.0,3.0,3.0,3.0,3.0,0,NaN,2.0,44.76,NaN,1
115,54,1,2,1,0.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,42.81,NaN,1
188,65,1,2,1,25.0,2.0,2.0,3.0,2.0,1.0,2,NaN,2.0,45.55,NaN,1
238,44,1,1,2,13.0,3.0,2.0,3.0,3.0,1.0,0,NaN,1.0,40.03,NaN,1
296,78,1,1,1,20.0,3.0,3.0,3.0,3.0,3.0,2,NaN,1.0,45.64,NaN,1
339,52,4,1,1,30.0,3.0,3.0,3.0,3.0,3.0,2,NaN,2.0,45.00,0.0,1
360,65,1,2,2,11.0,3.0,2.0,3.0,3.0,1.0,2,NaN,1.0,44.67,NaN,1
393,88,1,1,1,47.0,3.0,3.0,3.0,3.0,3.0,2,NaN,2.0,40.00,NaN,1

In [509]:
triple_pro.loc[(triple_pro['KI-67_LI_percent']>37)&(triple_pro['KI-67_LI_percent']<48)&(triple_pro['DCIS_or_LCIS_여부']==1)]

,나이,진단명,암의 위치,암의 개수,암의 장경,NG,HG,HG_score_1,HG_score_2,HG_score_3,DCIS_or_LCIS_여부,DCIS_or_LCIS_type,T_category,KI-67_LI_percent,BRCA_mutation,N_category
115,54,1,2,1,0.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,42.81,NaN,1
452,50,1,3,1,NaN,3.0,3.0,3.0,3.0,3.0,1,1.0,0.0,40.69,NaN,0

In [510]:
print("결측치의 KI 값은 40대, 그렇다면 근처 값은 어떨까",round(triple_pro.loc[(triple_pro['KI-67_LI_percent']>32)&(triple_pro['KI-67_LI_percent']<52)&(triple_pro['N_category']==1)].mean(),3))
print("암의 장경의 평균은 25.818 :: T의 평균은 1.600 이다.")

결측치의 KI 값은 40대, 그렇다면 근처 값은 어떨까 나이                   65.636
진단명                   1.545
암의 위치                 1.545
암의 개수                 1.182
암의 장경                25.818
NG                    2.900
HG                    2.600
HG_score_1            3.000
HG_score_2            2.900
HG_score_3            2.000
DCIS_or_LCIS_여부       1.364
DCIS_or_LCIS_type       NaN
T_category            1.600
KI-67_LI_percent     42.749
BRCA_mutation         0.000
N_category            1.000
dtype: float64
암의 장경의 평균은 25.818 :: T의 평균은 1.600 이다.

- 범위를 좁혀서 다시 시행

In [511]:
print("결측치의 KI 값은 40대, 그렇다면 근처 값은 어떨까",round(triple_pro.loc[(triple_pro['KI-67_LI_percent']>37)&(triple_pro['KI-67_LI_percent']<48)&(triple_pro['N_category']==1),'암의 장경'].mean(),3))
print("암의 장경의 평균은 26.750 :: T의 평균은 1.571 이다.")

결측치의 KI 값은 40대, 그렇다면 근처 값은 어떨까 26.75
암의 장경의 평균은 26.750 :: T의 평균은 1.571 이다.

In [512]:
print("임파선 전이가 1인 경우 암의 장경",round(triple_pro.loc[(triple_pro['N_category']==1),'암의 장경'].mean(),3))
print("암의 장경이 28.2보타 클 경우 T의 평균",round(triple_pro.loc[(triple_pro['암의 장경']>=28.231),'T_category'].mean(),3))
print("위의 평균에서 T의 값은 2.292인데 그렇다면 T가 2일 때 암의 장경의 평균은?",round(triple_pro.loc[(triple_pro['T_category']==2),'암의 장경'].mean(),1))
print("3일 때의 장경 평균은?",round(triple_pro.loc[(triple_pro['T_category']==3),'암의 장경'].mean(),3))

임파선 전이가 1인 경우 암의 장경 28.231
암의 장경이 28.2보타 클 경우 T의 평균 2.292
위의 평균에서 T의 값은 2.292인데 그렇다면 T가 2일 때 암의 장경의 평균은? 30.1
3일 때의 장경 평균은? 73.8

- 그렇다면 결측치의 T는 2

In [513]:
triple_pro.loc[(triple_pro['T_category'].isnull())&(triple_pro['암의 장경']==0),'암의 장경'] = 30.1

In [514]:
triple_pro.loc[triple_pro['T_category'].isnull(),'T_category'] = 2

- 결측치가 5개인 암의 장경

In [515]:
triple_pro[triple_pro['암의 장경'].isnull()]

,나이,진단명,암의 위치,암의 개수,암의 장경,NG,HG,HG_score_1,HG_score_2,HG_score_3,DCIS_or_LCIS_여부,DCIS_or_LCIS_type,T_category,KI-67_LI_percent,BRCA_mutation,N_category
11,55,1,2,1,NaN,2.0,NaN,NaN,NaN,NaN,1,2.0,0.0,3.00,NaN,0
18,58,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,0.0,28.66,NaN,0
266,52,1,1,1,NaN,1.0,NaN,NaN,NaN,NaN,1,1.0,0.0,NaN,NaN,0
314,64,1,2,1,NaN,1.0,NaN,NaN,NaN,NaN,1,1.0,0.0,NaN,NaN,0
452,50,1,3,1,NaN,3.0,3.0,3.0,3.0,3.0,1,1.0,0.0,40.69,NaN,0

In [516]:
triple_pro.loc[(triple_pro['N_category']==0)&(triple_pro['T_category']==0)&(triple_pro['DCIS_or_LCIS_여부']==1)
              &(triple_pro['암의 개수']==1)&(triple_pro['DCIS_or_LCIS_type']>=1)]

,나이,진단명,암의 위치,암의 개수,암의 장경,NG,HG,HG_score_1,HG_score_2,HG_score_3,DCIS_or_LCIS_여부,DCIS_or_LCIS_type,T_category,KI-67_LI_percent,BRCA_mutation,N_category
11,55,1,2,1,NaN,2.0,NaN,NaN,NaN,NaN,1,2.0,0.0,3.00,NaN,0
18,58,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,0.0,28.66,NaN,0
266,52,1,1,1,NaN,1.0,NaN,NaN,NaN,NaN,1,1.0,0.0,NaN,NaN,0
314,64,1,2,1,NaN,1.0,NaN,NaN,NaN,NaN,1,1.0,0.0,NaN,NaN,0
452,50,1,3,1,NaN,3.0,3.0,3.0,3.0,3.0,1,1.0,0.0,40.69,NaN,0

In [517]:
triple_pro.loc[(triple_pro['N_category']==0)&(triple_pro['T_category']==0)]

,나이,진단명,암의 위치,암의 개수,암의 장경,NG,HG,HG_score_1,HG_score_2,HG_score_3,DCIS_or_LCIS_여부,DCIS_or_LCIS_type,T_category,KI-67_LI_percent,BRCA_mutation,N_category
11,55,1,2,1,NaN,2.0,NaN,NaN,NaN,NaN,1,2.0,0.0,3.00,NaN,0
18,58,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,0.0,28.66,NaN,0
266,52,1,1,1,NaN,1.0,NaN,NaN,NaN,NaN,1,1.0,0.0,NaN,NaN,0
314,64,1,2,1,NaN,1.0,NaN,NaN,NaN,NaN,1,1.0,0.0,NaN,NaN,0
452,50,1,3,1,NaN,3.0,3.0,3.0,3.0,3.0,1,1.0,0.0,40.69,NaN,0

In [518]:
triple_pro.loc[(triple_pro['T_category']==0)&(triple_pro['암의 장경'].isnull()),'암의 장경']=0

- 암의 장경이 NaN인 값들은 T 카테고리 값이 0 으로 측정 되어 있다 또한 임파선 전이도 음성으로 NaN인 값들은 암의 크기를 측정할 수 없거나 작아서 측정할 필요가 없는 것이 아닐까 --> 따라서 0으로 바꿔주었다

- 결측치가 8개인 HG

In [519]:
triple_pro['NG'].unique()

array([ 3.,  2., nan,  1.])

In [520]:
triple_pro.loc[(triple_pro['NG'].isnull())&(triple_pro['암의 장경']>=1)&(triple_pro['암의 장경']<=15)&(triple_pro['DCIS_or_LCIS_여부']==0),'NG']=2
triple_pro.loc[(triple_pro['KI-67_LI_percent'].isnull())&(triple_pro['암의 장경']>=15)&(triple_pro['NG'].isnull())&
               (triple_pro['HG']>=2)&(triple_pro['HG_score_1']>=2)&(triple_pro['HG_score_2']>=2),'NG'] = 3
triple_pro.loc[(triple_pro['NG'].isnull())&(triple_pro['암의 장경']>30),'NG'] = 3
triple_pro.loc[(triple_pro['DCIS_or_LCIS_여부']==0)&(triple_pro['N_category']==0)&(triple_pro['암의 장경']>=30)&(triple_pro['NG'].isnull()),'NG']=3
triple_pro.loc[(train_df['암의 장경']>=0.01)&(train_df['암의 장경']<=1)&(triple_pro['NG'].isnull())&(triple_pro['DCIS_or_LCIS_여부']<=1),'NG'] = 1
triple_pro.loc[(triple_pro['암의 장경']==0)&(triple_pro['DCIS_or_LCIS_type']==2)&(triple_pro['NG'].isnull()),'NG']=2
triple_pro.loc[(triple_pro['NG'].isnull())&(triple_pro['DCIS_or_LCIS_여부']==1)&(triple_pro['DCIS_or_LCIS_type']==2)&
               (triple_pro['KI-67_LI_percent']<30),'NG'] = 1

In [565]:
triple_pro.isnull().sum()

나이                    0
진단명                   0
암의 위치                 0
암의 개수                 0
암의 장경                 0
NG                    0
HG                    0
HG_score_1            0
HG_score_2            0
HG_score_3            0
DCIS_or_LCIS_여부       0
DCIS_or_LCIS_type     0
T_category            0
KI-67_LI_percent     35
BRCA_mutation         0
N_category            0
dtype: int64

In [522]:
triple_pro['HG'].unique()

array([ 3., nan,  2.,  1.])

In [525]:
triple_pro.loc[triple_pro['HG'].isnull()]

Empty DataFrame
Columns: [나이, 진단명, 암의 위치, 암의 개수, 암의 장경, NG, HG, HG_score_1, HG_score_2, HG_score_3, DCIS_or_LCIS_여부, DCIS_or_LCIS_type, T_category, KI-67_LI_percent, BRCA_mutation, N_category]
Index: []

In [524]:
triple_pro.loc[(triple_pro['HG_score_1'].isnull())&(triple_pro['암의 장경']<=31),'HG_score_1'] = 0
triple_pro.loc[(triple_pro['HG_score_2'].isnull())&(triple_pro['암의 장경']<=31),'HG_score_2'] = 0
triple_pro.loc[(triple_pro['HG_score_3'].isnull())&(triple_pro['암의 장경']<=31),'HG_score_3'] = 0
triple_pro.loc[triple_pro['HG'].isnull(),'HG'] = 0

In [527]:
triple_pro.loc[(triple_pro['HG_score_1'].isnull())&(triple_pro['암의 장경']>=50),'HG_score_1'] = 3
triple_pro.loc[(triple_pro['HG_score_2'].isnull())&(triple_pro['암의 장경']>=50),'HG_score_2'] = 3
triple_pro.loc[(triple_pro['HG_score_3'].isnull())&(triple_pro['암의 장경']>=50),'HG_score_3'] = 3

In [536]:
triple_pro.loc[(triple_pro['DCIS_or_LCIS_type'].isnull())&(triple_pro['DCIS_or_LCIS_여부']==0),'DCIS_or_LCIS_type']=1

In [549]:
triple_pro.loc[(triple_pro['DCIS_or_LCIS_여부']==2)&(triple_pro['DCIS_or_LCIS_type'].isnull()),'DCIS_or_LCIS_type']=3

In [561]:
triple_pro.loc[(triple_pro['DCIS_or_LCIS_type'].isnull())&(triple_pro['DCIS_or_LCIS_여부']!=2)]=1

In [ ]:
BRCA_mutation

In [564]:
triple_pro.loc[(triple_pro['BRCA_mutation']==2),'BRCA_mutation']=3
triple_pro.loc[(triple_pro['BRCA_mutation']==1),'BRCA_mutation']=2
triple_pro.loc[(triple_pro['BRCA_mutation']==0),'BRCA_mutation']=1
triple_pro.loc[(triple_pro['BRCA_mutation'].isnull()),'BRCA_mutation']=0

In [566]:
triple_pro.loc[triple_pro['KI-67_LI_percent'].isnull()]

,나이,진단명,암의 위치,암의 개수,암의 장경,NG,HG,HG_score_1,HG_score_2,HG_score_3,DCIS_or_LCIS_여부,DCIS_or_LCIS_type,T_category,KI-67_LI_percent,BRCA_mutation,N_category
219,56,1,2,1,27.0,3.0,3.0,3.0,3.0,3.0,2,3.0,2.0,NaN,0.0,1
266,52,1,1,1,0.0,1.0,0.0,0.0,0.0,0.0,1,1.0,0.0,NaN,0.0,0
314,64,1,2,1,0.0,1.0,0.0,0.0,0.0,0.0,1,1.0,0.0,NaN,0.0,0
383,62,1,1,1,15.0,2.0,2.0,3.0,2.0,2.0,2,3.0,1.0,NaN,0.0,1
469,41,1,3,1,14.0,2.0,2.0,3.0,2.0,1.0,0,1.0,1.0,NaN,0.0,0
602,76,1,1,1,30.0,3.0,3.0,3.0,3.0,2.0,0,1.0,2.0,NaN,0.0,1
745,42,1,1,1,19.0,3.0,2.0,2.0,3.0,2.0,0,1.0,1.0,NaN,0.0,0
757,56,1,2,1,9.0,2.0,2.0,3.0,2.0,1.0,0,1.0,1.0,NaN,0.0,0
806,43,1,1,1,30.0,3.0,0.0,0.0,0.0,0.0,0,1.0,2.0,NaN,0.0,0
809,61,1,1,1,17.0,3.0,2.0,3.0,3.0,1.0,0,1.0,1.0,NaN,0.0,0
811,41,4,2,1,14.0,3.0,3.0,3.0,3.0,3.0,0,1.0,1.0,NaN,0.0,0
822,52,1,2,1,12.0,3.0,3.0,3.0,3.0,3.0,0,1.0,1.0,NaN,0.0,0
823,72,1,2,1,30.0,3.0,3.0,3.0,3.0,3.0,0,1.0,2.0,NaN,0.0,0
825,48,1,1,1,42.0,3.0,3.0,3.0,3.0,3.0,0,1.0,2.0,NaN,0.0,1
829,51,1,1,1,22.0,3.0,3.0,3.0,3.0,2.0,0,1.0,2.0,NaN,0.0,0
830,38,1,2,1,3.0,2.0,2.0,3.0,2.0,2.0,0,1.0,1.0,NaN,0.0,0
832,68,1,1,1,15.0,2.0,2.0,3.0,2.0,1.0,0,1.0,1.0,NaN,0.0,0
834,33,1,1,1,24.0,3.0,3.0,3.0,3.0,2.0,0,1.0,2.0,NaN,0.0,0
847,54,1,2,1,23.0,3.0,3.0,3.0,3.0,3.0,0,1.0,2.0,NaN,0.0,1
851,68,1,2,1,19.0,3.0,2.0,2.0,3.0,1.0,0,1.0,1.0,NaN,0.0,1
858,45,4,2,1,110.0,3.0,3.0,3.0,3.0,3.0,0,1.0,3.0,NaN,0.0,1
872,51,1,2,1,14.0,3.0,2.0,3.0,3.0,1.0,0,1.0,1.0,NaN,0.0,0
874,41,1,2,1,15.0,3.0,3.0,3.0,3.0,3.0,0,1.0,1.0,NaN,0.0,0
881,46,1,1,1,15.0,3.0,2.0,3.0,3.0,1.0,0,1.0,1.0,NaN,0.0,0
887,50,1,2,1,6.0,3.0,2.0,3.0,3.0,1.0,0,1.0,1.0,NaN,0.0,0
888,41,1,2,1,0.4,1.0,0.0,0.0,0.0,0.0,0,1.0,1.0,NaN,0.0,0
898,54,1,1,1,18.0,3.0,2.0,0.0,0.0,0.0,0,1.0,1.0,NaN,0.0,0
917,40,1,2,1,19.0,3.0,3.0,3.0,3.0,3.0,0,1.0,1.0,NaN,0.0,0
928,55,1,2,1,19.0,3.0,3.0,3.0,3.0,2.0,0,1.0,1.0,NaN,0.0,1
949,73,1,1,1,40.0,3.0,3.0,3.0,3.0,3.0,0,1.0,2.0,NaN,0.0,1
968,50,1,2,1,25.0,3.0,3.0,3.0,3.0,3.0,0,1.0,2.0,NaN,0.0,1
973,54,1,2,1,5.0,1.0,1.0,3.0,1.0,1.0,0,1.0,1.0,NaN,0.0,0
991,69,1,1,1,9.0,1.0,1.0,3.0,1.0,1.0,0,1.0,1.0,NaN,0.0,0
994,43,1,2,1,10.0,1.0,2.0,3.0,1.0,2.0,0,1.0,1.0,NaN,0.0,0
998,50,1,1,1,7.0,1.0,1.0,1.0,2.0,1.0,0,1.0,1.0,NaN,0.0,0

In [568]:
triple_pro.loc[(triple_pro['KI-67_LI_percent'].notnull())&(triple_pro['N_category']==1),'KI-67_LI_percent'].mean()

40.98826086956522

In [571]:
triple_pro.loc[(triple_pro['KI-67_LI_percent'].notnull())&(triple_pro['N_category']==1),'KI-67_LI_percent'].value_counts()

70.00    5
1.00     3
20.00    2
60.00    2
35.00    2
80.00    2
85.71    1
45.00    1
97.00    1
15.50    1
75.00    1
20.02    1
44.76    1
18.00    1
40.00    1
19.50    1
3.08     1
12.00    1
21.74    1
28.69    1
51.78    1
40.03    1
45.64    1
17.30    1
81.30    1
8.66     1
77.22    1
87.37    1
17.32    1
4.60     1
79.27    1
2.30     1
44.67    1
3.45     1
45.55    1
10.00    1
Name: KI-67_LI_percent, dtype: int64

In [569]:
triple_pro.loc[(triple_pro['KI-67_LI_percent'].notnull())&(triple_pro['N_category']==0),'KI-67_LI_percent'].mean()

38.91142857142857

In [570]:
triple_pro.loc[(triple_pro['KI-67_LI_percent'].notnull())&(triple_pro['N_category']==0),'KI-67_LI_percent'].value_counts()

40.00    4
5.00     2
62.04    1
50.00    1
80.00    1
11.06    1
89.17    1
1.00     1
60.00    1
90.00    1
70.00    1
57.40    1
50.96    1
15.00    1
25.00    1
30.00    1
20.00    1
40.69    1
10.00    1
35.00    1
28.66    1
79.66    1
10.88    1
3.00     1
Name: KI-67_LI_percent, dtype: int64

In [355]:
test_df.loc[(test_df['KI-67_LI_percent']>40)&(test_df['KI-67_LI_percent']<50)&(((test_df['ER']==0)|(test_df['ER']).isnull())
                         &((test_df['PR']==0)|(test_df['PR']).isnull())
                         &((test_df['HER2']==0)|(test_df['HER2']).isnull()))]

,ID,img_path,나이,수술연월일,진단명,암의 위치,암의 개수,암의 장경,NG,HG,...,ER,ER_Allred_score,PR,PR_Allred_score,KI-67_LI_percent,HER2,HER2_IHC,HER2_SISH,HER2_SISH_ratio,BRCA_mutation
46,BC_01_1158,./test_imgs/BC_01_1158.png,50,2019-08-01,4,2,1,57.0,3.0,3.0,...,0.0,NaN,0.0,NaN,44.10,0.0,0.0,NaN,NaN,NaN
51,BC_01_1196,./test_imgs/BC_01_1196.png,57,2019-09-25,2,2,2,5.0,2.0,2.0,...,0.0,NaN,0.0,NaN,48.29,0.0,2.0,0.0,1.11,NaN
59,BC_01_1361,./test_imgs/BC_01_1361.png,58,2017-02-15,4,2,1,32.0,3.0,3.0,...,0.0,NaN,0.0,NaN,49.22,0.0,2.0,0.0,1.31,NaN